.menu {
  z-index: 10;
  width: 100%;
  margin-top: 20px;
  border-radius: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  max-height: calc(100vh - 130px);
  height: fit-content;
  overflow-y: auto;
  display: none;

  &--active {
    display: flex;
  }

  &__navigation {
    @include bg-color('transparent-white');
    width: 100%;
    max-width: 100%;
    height: fit-content;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__link {
    font-size: 22px;
    letter-spacing: 0.4px;
  }
}
